# Basic Files and Directories
##############################
*~
*#
*.bak
*.org
/notes

# Netbeans
.netbeans
nbproject

# Logs
logs
*.log

# Runtime data
pids
*.pid
*.seed

# Node and NPM
node_modules

# Extra Files
##############
/.project
*.todo
*.problems
